@page "/subscriptions"
@using Domain.Subscriptions.DTOs
@using Application.Subscriptions
@using Domain.Subscriptions.Entities
@using Presentation.Core.Components

@inject ISubscriptionService SubscriptionService

<div class="container">
    <h1>Subscriptions</h1>
    <Loading IsLoading="_isLoading">
        @if (_isLoading)
        {
            <h4 class="text-danger">There are no projects currently registered.</h4>
        }
        else
        {
            <table>
                    <tr>
                        <td><strong>Id</strong></td>
                        <td><strong>Subscription name</strong></td>
                        <td><strong>Number of publications</strong></td>
                        <td><strong>Investigation Group name</strong></td>
                    </tr>
                    
                    @*@foreach (var project in _subscriptions)
                    {
                        <tr>
                            <td align="center">@subscription.Id</td>
                            <td align="center">@project.Subscription_Name</td>
                            <td align="center">@project.Publication</td>
                            <td align="center">@project.Group</td>
                        </tr>
                    }*@
            </table>
        }
    </Loading>
</div>

@code {

    private bool _isLoading = true;
    private IEnumerable<SubscriptionDTO> _subscriptions;

    protected override async Task OnInitializedAsync()
    {
        _subscriptions = await SubscriptionService.GetAllProjectsAsync();
        _isLoading = false;
    }
}
