@page "/projects"
@using Domain.Employees.DTOs
@using Application.Employees
@using Domain.Employees.Entities
@using Presentation.Core.Components

@using Domain.Projects.DTOs
@using Application.Projects
@using Presentation.Persons
@using Domain.Projects.Entities

@inject IEmployeeService EmployeeService
@inject IProjectService ProjectService

@if (_loading)
{
    <h4 class="text-danger">Loading proyects :)</h4>
}
else
{
    <MudGrid>
                <MudItem xs="6">
                    <MudTextField @bind-Value="email" Label="Email" Variant="Variant.Outlined"></MudTextField>
                </MudItem>

                    @*@foreach (var project in _projects)
                    {
                        <tr>
                            <td align="center">@project.Id</td>
                            <td align="center">@project.Project_Name</td>
                            <td align="center">@project.Publication</td>
                            <td align="center">@project.Group</td>
                        </tr>
                    }*@
            </table>
        }
    </Loading>
</div>

@code {
    // private IEnumerable<ProjectDTO> _projects;

    private bool _isLoading = true;
    protected override async Task OnInitializedAsync()
    {
        String email = "Leone1111333";
        await EmployeeService.CreateEmployeeAsync(email);
        // _projects = await ProjectService.GetAllProjectsAsync();

        _isLoading = false;
    }
}
