@page "/projects"
@using Domain.Projects.DTOs
@using Application.Projects
@using Presentation.Persons
@using Domain.Projects.Entities
@using Presentation.Core.Components


@inject IProjectService ProjectService

@if (_loading)
{
    <h4 class="text-danger">Loading proyects :)</h4>
}
else
{
    <MudGrid>
                <MudItem xs="6">
                    <MudTextField @bind-Value="email" Label="Email" Variant="Variant.Outlined"></MudTextField>
                </MudItem>

                <MudItem xs="6">
                    <MudTextField @bind-Value="password" Label="Password" Variant="Variant.Outlined"></MudTextField>
                </MudItem>
    </MudGrid>
    <Presentation.Persons.Components.PersonForm>
    </Presentation.Persons.Components.PersonForm>
} 

@code { 
    private bool _hidePosition;
    private bool _loading = false;
    private IEnumerable<ProjectDTO> Elements;
     public string email { get; set; }
    public string password { get; set; }

    
}