<div class="alert alert-@ToBootstrapClass(Color)" role="alert">
    @ChildContent
</div>

@code {
    [Parameter]
    public AlertColor Color { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public enum AlertColor
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info,
        Light,
        Dark
    }

    public string ToBootstrapClass(AlertColor color) => color switch
    {
        AlertColor.Primary => "primary",
        AlertColor.Secondary => "secondary",
        AlertColor.Success => "success",
        AlertColor.Danger => "danger",
        AlertColor.Warning => "warning",
        AlertColor.Info => "info",
        AlertColor.Light => "light",
        AlertColor.Dark => "dark",
        _ => throw new ArgumentOutOfRangeException()
    };
}
